{% extends 'layouts/base.html.twig' %}

{% block body %}
<h1><img src="http://asylamba.com/public/media/asylamba.png" alt="test" /></h1>

<div class="content">
	<a href="{{ path('registration', { 'bindKey': bind_key }) }}">
		<em>Créer un</em>
		<strong>Personnage lvl. 1</strong>
		<img src="{{ asset('media/avatar/big/empty.png') }}" alt="" />
	</a>

	{% if high_mode %}
		<a href="{{ path('registration', { 'bindKey': bind_key, 'highMode': true }) }}">
			<em>Créer un</em>
			<strong>Personnage lvl. 5</strong>
			<img src="{{ asset('media/avatar/big/empty.png') }}" alt="" />
			<span class="number">+5</span>
		</a>
	{% endif %}

	{% for player in active_players %}
		<a class="color{{ player.rColor }}" href="{{ path('connect', { 'bindKey': player_bind_keys[player.id] }) }}">
			<em>Grade {{ player.level }}</em>
			<strong>{{ player.name }}</strong>
			<img src="{{ asset('media/avatar/big/' ~ player.avatar ~ '.png') }}" alt="" />
			<span class="number">{{ player.level }}</span>
		</a>
	{% endfor %}
</div>
{% endblock %}
