<div id="subnav">
	<button class="move-side-bar top" data-dir="up"> </button>
	<div class="overflow">
		<a href="{{ path('fleet_headquarters') }}" class="item {% if app.request.get('_route') == 'fleet_headquarters' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('media/fleet/general-quarter.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Centre des Opérations</span>
			</span>
		</a>

		<a href="{{ path('fleet_overview') }}" class="item {% if app.request.get('_route') == 'fleet_overview' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('media/fleet/armies.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Aperçu des armées</span>
			</span>
		</a>

		<a href="{{ path('spy_reports') }}" class="item {% if app.request.get('_route') == 'spy_reports' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('media/fleet/spy.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Rapports d\'espionnage</span>
			</span>
		</a>

		<a href="{{ path('fleet_archives') }}" class="item {% if app.request.get('_route') == 'fleet_archives' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('media/fleet/archive.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Archives Militaires</span>
			</span>
		</a>

		<a href="{{ path('memorial') }}" class="item {% if app.request.get('_route') == 'memorial' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('media/fleet/memorial.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Mémorial</span>
			</span>
		</a>
	</div>
	<button class="move-side-bar bottom" data-dir="down"> </button>
</div>
