{% extends 'layouts/athena/current_base.html.twig' %}

{% block content %}
	<div class="component building rc">
		<div class="head skin-1">
			<img src="{{ asset('media/orbitalbase/spatioport.png') }}" alt="" />
			<h2>
				{{- get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::COMMERCIAL_PLATEFORME'), 'frenchName') -}}
			</h2>
			<em>Niveau {{ current_base.levelSpatioport }}</em>
		</div>
		<div class="fix-body">
			<div class="body">
				<a href="{{ path('spatioport') }}" class="nav-element {% if mode == 'list' %}active{% endif %}">
					<img src="{{ asset('media/map/option/market.png') }}" alt="" />
					<strong>Routes commerciales</strong>
					<em>Gérez vos routes commerciales</em>
				</a>

				<a href="{{ path('spatioport', {'mode': 'search'}) }}" class="nav-element {% if mode == 'search' %}active{% endif %}">
					<img src="{{ asset('media/map/option/radio.png') }}" alt="" />
					<strong>Recherche</strong>
					<em>Trouvez des partenaires commerciaux</em>
				</a>

				<hr />

				<div class="number-box">
					<span class="label">routes commerciales</span>
					<span class="value">{{ routes_data.total }} / {{ routes_data.max }}</span>

					<span class="progress-bar">
						<span style="width: {{ routes_data.total|percent(routes_data.max) }}%;" class="content"></span>
					</span>
				</div>

				<div class="number-box {% if routes_data.operational == 0 %}grey{% endif %}">
					<span class="label">routes commerciales actives</span>
					<span class="value">{{ routes_data.operational }}</span>
				</div>

				<div class="number-box {% if routes_data.waiting_for_other == 0 %}grey{% endif %}">
					<span class="label">routes commerciales en attente</span>
					<span class="value">{{ routes_data.waiting_for_other }}</span>
				</div>

				<div class="number-box {% if routes_data.waiting_for_me == 0 %}grey{% endif %}">
					<span class="label">propositions commerciales</span>
					<span class="value">{{ routes_data.waiting_for_me }}</span>
				</div>

				{% if routes_data.stand_by > 0 %}
					<div class="number-box">
						<span class="label">routes commerciales bloquées</span>
						<span class="value">{{ routes_data.stand_by }}</span>
					</div>
				{% endif %}

				<hr />

				<div class="number-box">
					<span class="label">revenu total de cette base</span>
					<span class="value">
						{{ routes_data.total_income|number }}
						{% if player_commercial_income_bonus > 0 %}
							<span class="bonus">+ {{ (player_commercial_income_bonus * routes_data.total_income / 100)|number }}</span>
						{% endif %}
						<img src="{{ asset('media/resources/credit.png') }}" class="icon-color" />
					</span>
				</div>
			</div>
		</div>
	</div>

	{% if mode == 'search' %}
		<div class="component new-message">
			<div class="head skin-2">
				<h2>Recherche</h2>
				</div>
			<div class="fix-body">
				<div class="body">
					<form action="{{ path('spatioport', {'mode': 'search'}) }}" method="POST">
						<h4>Chercher des partenaires commerciaux...</h4>
						{% for faction in in_game_factions %}
							<p>
								<label for="ckb-faction-{{ faction.id }}">
									<input type="checkbox"
										   name="faction-{{ faction.id }}"
										   id="ckb-faction-{{ faction.id }}"
										   {% if app.request.method == 'GET' or app.request.request.has('faction-' ~ faction.id) %}checked{% endif %} />
									{{ get_faction_info(faction.id, 'demonym') }}
								</label>
							</p>
						{% endfor %}
						<h4>A une distance...</h4>

						<p><label for="search-rc-min-dist">Minimum</label></p>
						<p class="input input-text"><input type="number" id="search-rc-min-dist" name="min-dist" value="{{ app.request.request.get('min-dist', 75) }}" /></p>

						<p><label for="search-rc-max-dist">Maximum</label></p>
						<p class="input input-text"><input type="number" id="search-rc-max-dist" name="max-dist" value="{{ app.request.request.get('max-dist', 125) }}" /></p>

						<p><button>Rechercher</button></p>
					</form>
				</div>
			</div>
		</div>

		{% if search_results is not null %}
			<div class="component player rank">
			<div class="head skin-2">
				<h2>Résultats</h2>
				</div>
			<div class="fix-body">
				<div class="body">
					{% for base in search_results %}
						<a href="{{ path('map', {'place': base.rPlace}) }}" class="player color{{ base.playerColor }}">
							<img src="{{ asset('media/avatar/small/' ~ base.playerAvatar ~ '.png') }}" alt="" class="picto">
							<span class="title">{{ base.playerName }}</span>
							<strong class="name">{{ base.baseName }}</strong>
							<span class="experience">{{ base.distance}} al.</span>
						</a>
					{% endfor %}

					{% if search_results|length == 0 %}
						<p><em>Aucun partenaire commercial trouvé selon les critères de recherche fournis.</em></p>
					{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
	{% else %}
		{% for route in routes %}
			{% if route.isProposed and route.playerId2 == current_player.id %}
				{% set origin_base = include('molecules/base/trade/commercial_route_base.html.twig', {
					'base_id': route.rOrbitalBase,
					'base_name': route.baseName1,
					'base_type': route.baseType1,
					'player_id': route.playerId1,
					'player_name': route.playerName1,
					'population': route.population1,
				}) %}
				{% set destination_base = include('molecules/base/trade/commercial_route_base.html.twig', {
					'base_id': route.rOrbitalBaseLinked,
					'base_name': route.baseName2,
					'base_type': route.baseType2,
					'player_id': route.playerId2,
					'player_name': route.playerName2,
					'population': route.population2,
				}) %}
				<div class="component rc">
					<div class="head skin-5">
						{% if loop.index == 1 %}
							<h2>Propositions</h2>
						{% endif %}
					</div>
					<div class="fix-body">
						<div class="body">
							<div class="tool">
								{% if route.price > current_player.credit %}
									<span><a href="#">pas assez de crédits pour accepter</a></span>
								{% elseif routes_data.total >= routes_data.max %}
									<span><a href="#">pas d\'emplacement libre pour accepter</a></span>
								{% else %}
									{% set price = route.price %}
									{# @TODO move this calculation in a dedicated service #}
									{% if is_player_from_negora %}
										{% set price = price - (price * negora_commercial_bonus / 100)|round %}
									{% endif %}
									<span><a href="{{ path('accept_commercial_route', {'baseId': route.rOrbitalBaseLinked, 'id': route.id}) }}">accepter pour {{ price|number }} crédits</a></span>
								{% endif %}
								<span><a href="{{ path('refuse_commercial_route', {'baseId': route.rOrbitalBaseLinked, 'id': route.id }) }}" class="hb lt" title="refuser l'offre">x</a></span>
							</div>

							<div class="number-box grey">
								<span class="label">Etat de la route commerciale</span>
								<span class="value">
									En attente
								</span>
							</div>

							<div class="rc {% if not route.isActive %}no-tax{% endif %}" style="height: {{ (370 + route.distance) }}px;">
								{% if route.playerId1 == current_player.id %}
									{{ destination_base }}
								{% else %}
									{{ origin_base }}
								{% endif %}

								<ul class="general">
									<li>Distance <strong>{{ route.distance }} al.</strong></li>
									<li>
										Prix
										<strong>
											{{ route.price|number }}
											{% if is_player_from_negora %}
												<span class="bonus">- {{ (negora_commercial_bonus * route.price / 100)|number }}</span>
											{% endif %}
											 <img src="{{ asset('media/resources/credit.png') }}" class="icon-color" />
										</strong>
									</li>
									<li>
										Estimation du revenu par relève
										<strong>
											{{ route.income|number }}
											{% if player_commercial_income_bonus > 0 %}
												<span class="bonus">+ {{ (player_commercial_income_bonus * route.income / 100)|number }}</span>
											{% endif %}
											<img src="{{ asset('media/resources/credit.png') }}" class="icon-color" />
										</strong>
									</li>
									<li>
										Population touchée
										<strong>{{ (route.population1 + route.population2)|number }} millions</strong>
									</li>

									{% if not route.isProposed %}
										<li>
											En service depuis<br />
											{{ route.dCreation|date }}
										</li>
									{% endif %}
								</ul>

								{% if route.playerId1 == current_player.id %}
									{{ origin_base }}
								{% else %}
									{{ destination_base }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		{% for route in routes %}
			{% if not route.isProposed or route.playerId2 != current_player.id %}
				{% set origin_base = include('molecules/base/trade/commercial_route_base.html.twig', {
					'base_id': route.rOrbitalBase,
					'base_name': route.baseName1,
					'base_type': route.baseType1,
					'player_id': route.playerId1,
					'player_name': route.playerName1,
					'population': route.population1,
				}) %}
				{% set destination_base = include('molecules/base/trade/commercial_route_base.html.twig', {
					'base_id': route.rOrbitalBaseLinked,
					'base_name': route.baseName2,
					'base_type': route.baseType2,
					'player_id': route.playerId2,
					'player_name': route.playerName2,
					'population': route.population2,
				}) %}
				<div class="component rc">
					<div class="head skin-5">
						{% if loop.index == 1 %}
							<h2>Routes commerciales</h2>
						{% endif %}
					</div>
					<div class="fix-body">
						<div class="body">
							<div class="tool">
								{% if route.isProposed %}
									<span><a href="{{ path('cancel_route', {'baseId': current_base.id, 'route': route.id}) }}">annuler la proposition commerciale</a></span>
								{% else %}
									<span><a href="{{ path('delete_route', {'baseId': current_base.id, 'route': route.id}) }}">démanteler la route commerciale</a></span>
								{% endif %}
							</div>

							<div class="number-box {% if not route.isActive %}grey{% endif %}">
								<span class="label">Etat de la route commerciale</span>
								<span class="value">
									{%- if route.isProposed -%}
										En attente
									{%- elseif route.isActive -%}
										En activité
									{%- elseif route.isInStandBy -%}
										Gelée
									{%- endif -%}
								</span>
							</div>

							<div class="rc {% if not route.isActive %}no-tax{% endif %}" style="height: {{ (370 + route.distance) }}px;">
								{% if route.playerId1 == current_player.id %}
									{{ destination_base }}
								{% else %}
									{{ origin_base }}
								{% endif %}

								<ul class="general">
									<li>
										Distance
										<strong>{{ route.distance }} al.</strong>
									</li>
									<li>
										Revenu par relève
										{% if not route.isActive %}[non effectif]{% endif %}
										<strong>
											{{ route.income|number }}
											{% if player_commercial_income_bonus > 0 %}
											<span class="bonus">+ {{ (player_commercial_income_bonus * route.income / 100)|number }}</span>
											{% endif %}
											<img src="{{ asset('media/resources/credit.png') }}" class="icon-color" />
										</strong>
									</li>
									<li>
										Population touchée
										<strong>{{ (route.population1 + route.population2)|number }} millions</strong>
									</li>

									{% if not route.isProposed %}
										<li>
											En service depuis <br />
											{{ route.dCreation|date }}
										</li>
									{% endif %}
								</ul>
								{% if route.playerId1 == current_player.id %}
									{{ origin_base }}
								{% else %}
									{{ destination_base }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}

	<div class="component">
		<div class="head skin-2">
			<h2>À propos</h2>
		</div>
		<div class="fix-body">
			<div class="body">
				<p class="long-info">{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::SPATIOPORT'), 'description')|raw }}</p>
			</div>
		</div>
	</div>

	{% if routes|length == 0 %}
		{{ include('molecules/common/default.html.twig') }}
	{% endif %}
{% endblock content %}
