<div class="component report">
	<div class="head skin-1">
		<img src="{{ asset('media/avatar/medium/' ~ report_attacker.avatar ~ '.png') }}" alt="{{ report_attacker.name }}" />
		<h2>Attaquant</h2>
		<em>{{ report_attacker.name }}</em>
	</div>
	<div class="fix-body">
		<div class="body">
			{% if report.rPlayerAttacker == report.rPlayerWinner %}
				<div class="number-box">
					<span class="value">Victoire</span>
				</div>
				<hr />
				{% if report.rPlayerAttacker == current_player.id %}
					<div class="commander">
						<a href="{{ path('fleet_details') }}">
							<img src="{{ asset('media/commander/medium/' ~ report.avatarA ~ '.png') }}" alt="{{ report.nameA }}" />
						</a>
						{% set level = get_commander_level_up_from_report(report.levelA, report.experienceA + report.expCom) %}
						<em>
							{{ get_commander_rank(report.levelA) }}
							{% if level > 0 %}
								<span class="bonus">a passé {{ level }} grade{{ level|plural }}</span>
							{% endif %}
						</em>
						<strong>{{ report.nameA }}</strong>
						<em>expérience : {{ report.experienceA|number }}
							 <span class="bonus">+ {{ report.expCom|number }}</span>
						</em>
						<em>victoires : {{ report.palmaresA }} <span class="bonus">+ 1</span></em>
						<em>
							<span class="bonus">{{- report.resources|number -}}</span>
							ressource{{ report.resources|plural }} gagnée{{ report.resources|plural }}
						</em>
					</div>
				{% else %}
					<div class="commander">
						<img src="{{ asset('media/commander/medium/' ~ report.avatarA ~'.png') }}" alt="{{ report.nameA }}" />
						<em>{{ get_commander_rank(report.levelA) }}</em>
						<strong>{{ report.nameA }}</strong>
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					</div>
				{% endif %}
			{% else %}
				<div class="number-box grey">
					<span class="value">Défaite</span>
					</div>
				<hr />
				<div class="commander">
					<img src="{{ asset('media/fleet/memorial.png') }}" alt="{{ report.rPlayerDefender }}" />
					<em>{{ get_commander_rank(report.levelA) }}</em>
					<strong>{{ report.nameA }}</strong>
					{% if report.rPlayerAttacker == current_player.id %}
						<em>expérience : {{ report.experienceA|number }}</em>
						<em>victoire : {{ report.palmaresA }}</em>
						<em>&ensp;</em>
					{% else %}
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					{% endif %}
				</div>
			{% endif %}

			{{ include('molecules/fleet/combat_report_table.html.twig', {
				'total_in_begin': report.totalInBeginA,
				'difference': report.diferenceA,
				'total_at_end': report.totalAtEndA,
			}) }}
		</div>
	</div>
</div>

<div class="component report">
	<div class="head skin-1">
		{% if report_defender is not defined or report_defender is null %}
			<img src="{{ asset('media/commander/medium/t1-c0.png') }}" alt="Rebelle" />
			<h2>Défenseur</h2>
			<em>Rebelle</em>
		{% else %}
			<img src="{{ asset('media/avatar/medium/' ~ report_defender.avatar ~ '.png') }}" alt="{{ report_defender.name }}" />
			<h2>Défenseur</h2>
			<em>{{ report_defender.name }}</em>
		{% endif %}
	</div>
	<div class="fix-body">
		<div class="body">
			{% if defender_report.rPlayerDefender == report.rPlayerWinner %}
				<div class="number-box">
					<span class="value">Victoire</span>
				</div>
				<hr />
				{% if report.rPlayerDefender == current_player.id %}
				<div class="commander">
					<a href="{{ path('fleet_headquarters') }}"><img src="{{ asset('media/commander/medium/' ~ report.avatarD ~ '.png') }}" alt="{{ report.nameD }}" /></a>
					{% set level = get_commander_level_up_from_report(report.levelD, report.experienceD + report.expCom) %}
					<em>{{ get_commander_rank(report.levelD) }}
						{% if level > 0 %}
							<span class="bonus">a passé {{ level }} grade</span>
						{% endif %}
					</em>
					<strong>{{ report.nameD }}</strong>
					<em>
						expérience : {{- report.experienceD|number -}}
						<span class="bonus">+ {{ report.expCom|number }}</span>
					</em>
					<em>victoire : {{ report.palmaresD }} <span class="bonus">+ 1</span></em>
					<em>&ensp;</em>
					</div>
				{% else %}
					<div class="commander">
						<em>{{ get_commander_rank(report.levelD) }}</em>
						{% if report.rPlayerDefender == 0 %}
							<img src="{{ asset('media/commander/medium/t1-c0.png') }}" alt="{{ report.nameD }}" />
							<strong>Rebelle</strong>
						{% else %}
							<img src="{{ asset('media/commander/medium/' ~ report.avatarD ~ '.png') }}" alt="{{ report.nameD }}" />
							<strong>{{ report.nameD }}</strong>
						{% endif %}
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					</div>
				{% endif %}
			{% else %}
				<div class="number-box grey">
					<span class="value">Défaite</span>
					</div>
				<hr />
				{% if report.rPlayerDefender == current_player.id %}
					<div class="commander">
						<img src="{{ asset('media/fleet/memorial.png') }}" alt="{{ report.nameD }}" />
						<em>{{ get_commander_rank(report.levelD) }}</em>
						<strong>{{ report.nameD }}</strong>
						<em>expérience : {{ report.experienceD|number }}</em>
						<em>victoire : {{ report.palmaresD }}</em>
						<em>&ensp;</em>
					</div>
				{% else %}
					<div class="commander">
						<img src="{{ asset('media/fleet/memorial.png') }}" alt="{{ report.nameD }}" />
						<em>{{ get_commander_rank(report.levelD) }}</em>
						{% if report.rPlayerDefender == 0 %}
							<strong>Rebelle</strong>
						{% else %}
							<strong>{{ report.nameD }}</strong>
						{% endif %}
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					</div>
				{% endif %}
			{% endif %}

			{# @TODO check if this block is useful #}
			{# if ($report->type == Commander::LOOT) {
			<div class="dammage">
				<table>
					<tr>
						{% if report.rPlayerAttacker != report.rPlayerWinner %}
							{% if report.resources == 0 %}
								<td>Aucune ressource perdue</td>
							{% else %}
								<td>{{ report.resources|number }} ressources perdues</td>
							{% endif %}
						{% else %}
							<td></td>
						{% endif %}
					</tr>
				</table>
			</div>
			}#}

			{{ include('molecules/fleet/combat_report_table.html.twig', {
				'total_in_begin': report.totalInBeginD,
				'difference': report.diferenceD,
				'total_at_end': report.totalAtEndD,
			}) }}
		</div>
	</div>
</div>
