{% extends 'layouts/game.html.twig' %}

{% block body %}
	<div id="background-paralax" class="financial"></div>

	{{ include('molecules/financial/subnav.html.twig') }}
	{{ include('molecules/common/movers.html.twig') }}

	<div id="content">
		{{ include ('molecules/common/advertising.html.twig') }}

		{{ include('components/financial/reporting/general.html.twig', {
			tax_bonus,
			investments_data,
		}) }}
		{{ include('components/financial/reporting/imposition.html.twig') }}
		{{ include('components/financial/reporting/commercial_routes.html.twig') }}
		{{ include('components/financial/reporting/base_investments.html.twig') }}
		{{ include('components/financial/reporting/taxes.html.twig') }}
		{{ include('components/financial/reporting/ship_fees.html.twig', { commanders_by_base }) }}
		{{ include('components/financial/reporting/commander_fees.html.twig') }}
	</div>
{% endblock body %}
