{% extends 'layouts/game.html.twig' %}

{% block body %}
	<div id="background-paralax" class="financial"></div>

	{{ include('molecules/financial/subnav.html.twig') }}
	{{ include('molecules/common/movers.html.twig') }}

	<div id="content">
		{{ include ('molecules/common/advertising.html.twig') }}

		{{ include('components/financial/transfers/player_sending.html.twig') }}
		{{ include('components/financial/transfers/faction_sending.html.twig') }}
		{{ include('components/financial/transfers/sendings_history.html.twig') }}
		{{ include('components/financial/transfers/receivings_history.html.twig') }}
	</div>
{% endblock body %}
